@import "./tailwind.css";
@import "./font.css";
@import "./animations.css";

html,
body,
* {
  touch-action: pan-y pan-x;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  break-word: keep-all;
  scroll-behavior: smooth;
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/bg.png") no-repeat center center;
  background-size: cover;
  z-index: -1;
}
