@import "./tailwind.css";

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background: url("/bg.png") no-repeat center center fixed;

}